.buildContainer {
  display: grid;
  width: 70%;
  margin: auto;
  padding-top: 140px;
  grid-gap: 5px;
  height: 100%;
  padding-bottom: 140px;
  justify-content: center
}

.forestInfoBox {
  display: grid;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  position: relative;
  border-radius: 5px;
  max-width: 980px
}

.forestInfoBox h1 {
  text-shadow: 0.5px 0.5px 2px black;
  font-size: 20px;
}

.hiddenInformation {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition-timing-function: ease-in-out;
}

.hiddenInformation h2 {
  font-size: 12px;
  color: black
}

.titleButton {
  cursor: pointer;
  margin: 0;
  height: 20px;
  position: absolute;
  right:20px;
  top: 20px;
  border-radius: 50%;
  transition: 0.5s
}

.forestPic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  align-self: center;
  justify-self: center
}

.level1 {
  background-color: #959595;
  color: orange;
}

.forestInfoBox img {
  background-color: white
}

.level2 {
  background-color: #959595;
  color: orange;
}

.level3 {
  background-color: #959595;
  color: orange;
}

.level4 {
  background-color: #959595;
  color: orange;
}

.hiddenTextBox {
  padding: 10px;
  font-weight: normal
}
