.buildContainer {
  display: grid;
  width: 70%;
  margin: auto;
  padding-top: 140px;
  grid-gap: 5px;
  height: 100%;
  padding-bottom: 140px
}

.forestInfoBox {
  display: grid;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  position: relative
}

.hiddenInformation {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition-timing-function: ease-in-out;
}

.hiddenInformation h1 {
  font-size: 12px;
  color: black
}

.titleButton {
  cursor: pointer;
  margin: 0;
  height: 20px;
  position: absolute;
  right:20px;
  top: 20px;
  border-radius: 50%;
  transition: 0.5s
}

.forestPic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 10px;
  align-self: center;
  justify-self: center
}

.level1 {
  background-color: #ececec;
  color: orange;
}

.level2 {
  background-color: #dadada;
  color: #f6b641;
}

.level3 {
  background-color: #b7b5b5;
  color: #ffc761;
}

.level4 {
  background-color: #969494;
  color: #fcdda5;
}

.hiddenTextBox {
  padding: 10px;
  font-weight: normal
}
