.infoDiv {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 30px;
  width:200px;
  position: absolute;
  opacity: 0;
  pointer-events: none;;
  top: 200px;
  left: 150px;
  color: white
}

.infoDiv2{
  display: grid;
  font-size: 8px !important;
  align-items: center;
  justify-items: center;
  height: 30px;
  width: 200px;
  font-size: 10px;
  position: absolute;
  opacity: 0;;
  pointer-events: none;
  bottom: 230px;
  left: 150px;
  color: white
}

.pieTitle{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  font-size: 10px;
  color: lightgrey;
  display: grid;
  align-content: flex-end;
  justify-items: center;
  pointer-events: none;
}

.pieChartContainer {
  position: relative;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 100px auto 100px auto;
  align-items: center;
}

.pieChartInformationBox {
  padding: 10px;
  max-width: 460px
}

.pieChartInformationBox h1 {
  text-align: center;
  color: orange;
  margin: 0;
}

.pieChartInformationBox h2 {
  font-size: 11px;
  color: white
}

.pieChartInformationBox h2::before {
  content: '';
  height: 2px;
  background-color: lightgrey;
  width: 80%;
  margin: 5px auto;
  display: block;
}
