.infoDiv {
  border-bottom: 1px solid white;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 30px;
  width:200px;
  position: absolute;
  opacity: 0;
  pointer-events: none;;
  top: 150px;
  left: 100px
}

.infoDiv2{
  display: grid;
  align-items: center;
  justify-items: center;
  height: 30px;
  width: 200px;
  font-size: 10px;
  position: absolute;
  opacity: 0;;
  pointer-events: none;
  bottom: 180px;
  left: 100px
}

.pieTitle{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  font-size: 10px;
  color: grey;
  display: grid;
  align-content: flex-end;
  justify-items: center;
  pointer-events: none;
}

.pieChartContainer {
  position: relative;
}
