.treeChartContainer {
  position: relative;
  display: grid;
  justify-items: flex-start;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center
}

.treeCover {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px
}

.treeVisualContainer {
  position: relative
}

.treeImageContainer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  object-fit: cover;
  overflow: hidden
}

.treeImage {
  height: 100%;
  width:100%;
  object-fit: cover
}

.treeImageContainer:hover {
  transform: scale(5);
  z-index: 2;
}

.treeImageContainer p {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  font-size: 5px;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  background-color: black;
  margin: 0;
  padding-bottom: 1px
}

.animalInfoBox {
  border: 1px solid orange
}
