.treeChartContainer {
  position: relative;
  display: grid;
  justify-items: flex-start;
  width: 80%;
  margin: auto;
  transform: rotate(180deg);
  margin-bottom: 100px
}

.treeCover {
  position: absolute;
  left: 0;
  width: 400px;
  height: 400px
}

.treeImage {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  object-fit: cover;
  transform: rotate(180deg)
}

.treeImage:hover {
  transform: scale(5) rotate(180deg);
  z-index: 2;
}

.bat {
  right: 0;
  top: 600
}
