@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.mainContainer {
  width: 100%
}

.overlay {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0,0.3);
  top: 0;
  align-items: center;
  justify-items: center;
  position: absolute
}

.closeButton {
  border: none;
  background-color: white
}

.closeButton:hover {
  cursor: pointer
}

.clickLink:hover {
  color: red;
  cursor: pointer
}

.changeAlert {
  width: 400px;
  height: auto;
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  margin: auto
}

.bannerContainer {
  width: 100%;
  display: grid;
  height: 500px;
  position: relative;
  align-items: center;
  justify-items: center;
}

.titleContainer {
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  display: grid;
  justify-items: center;
}

.titleContainer h1 {
  font-size: 60px;
  top: 0;
  margin: 0;
  transition: 0.3s;
  left: 0;
  right: 0;
  cursor: default;
  z-index:1;
}

.titleContainer h2 {
  font-size: 30px;
  word-spacing: 8px;
  cursor: default
}

.bannerImage {
  width: 100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.spinner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin: 25px 65px;
  animation: spinner 0.3s linear infinite
}

@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
